<!DOCTYPE html>
<html>
  <head>
    <title>tunesmith</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'session_form', media: 'all' %>
    <%= stylesheet_link_tag    'header', media: 'all' %>
    <%= stylesheet_link_tag    'show_page', media: 'all' %>
    <%= stylesheet_link_tag    'user_page', media: 'all' %>
    <%= stylesheet_link_tag    'song_player', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
